<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs12 sm3  v-for="n in 4" v-bind:key="n">
                <div class="mask mask--image"></div>
                <div class="mask mask--title"></div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<style lang="scss" scoped>
    @import 'loading.scss';
</style>