<template>

    <div>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs6 offset-xs3>
                    <h1>Find a stream</h1>

                    <v-text-field
                        v-model="searchTerm"
                        label="Example: Super Metroid"
                        v-stream:input="initSearch$"
                    ></v-text-field>

                    <ul class="recent-searches">
                        <li class="recent-searches__item">Recent searches:</li>
                        <li class="recent-searches__item" 
                            v-for="search in searches" v-bind:key="search.name">
                            <router-link :to="{ 
                                name: 'game', 
                                params: { 
                                    id: search.id, 
                                    title: search.name 
                                }
                            }">{{search.name}}</router-link>
                        </li>
                    </ul>

                </v-flex>
            </v-layout>

            <v-layout row wrap>

                <app-loading v-if="this.$store.state.search.loading"></app-loading>

                <template v-if="!this.$store.state.search.loading">
                    <v-flex xs12 sm3 v-for="game in games" v-bind:key="game.name">
                        <v-card>
                            <v-img
                                :src="`${game.box.large}`"
                                alt=""
                                aspect-ratio="0.75"
                            ></v-img>

                            <v-card-title primary-title>
                                <div>
                                    <h3 class=" mb-0">{{game.name}}</h3>
                                </div>
                            </v-card-title>

                            <v-card-actions>           
                                <v-btn :to="{ name: 'game', params: { id: game._id, title: game.name }}" color="pink" dark>
                                    View streams
                                </v-btn>
                            </v-card-actions>

                        </v-card>
                    </v-flex>
                </template>
            </v-layout>
        </v-container>
    </div>
</template>

<style lang="scss" scoped>
    @import 'Search.scss';
</style>


<script lang="ts">
    import Vue from 'vue';
    import Loading from '../loading/loading.vue';
    import { uniqBy } from 'lodash';

    import { ajax } from "rxjs/ajax";
    import { 
        switchMap, 
        map, 
        filter,
        debounceTime, 
        catchError
    } from 'rxjs/operators';
    
    const VueApp: any = Vue;
    
    export default VueApp.extend  ({
        components: {
            appLoading: Loading
        },
        domStreams:['initSearch$'],
        data() {
            return {
                searchTerm: '',
                searches:  uniqBy(this.$store.state.game.searches, 'id')
            }
        },
        computed: {
            games(): {} {
                return this.$store.state.search.payload;
            },
 
            storedSearches(): any {
                return this.$store.state.game.searches
            }

        },
        subscriptions() {

           const userInput = this.searchTerm;

           const search$= this.initSearch$.pipe(
                // Delay to stop a request on every keystroke
                debounceTime(500),

                filter(val => this.searchTerm!=""),
                
                // Dispatch action
                map(() => 
                    this.$store.dispatch('searchTwitch', this.searchTerm)),

                // Switch to our Observable that carries out the get request
                switchMap(() =>
                    ajax.get('https://api.twitch.tv/kraken/search/games?type=suggest&query=' 
                        + encodeURI(this.searchTerm), {'Client-ID': 'zm9y00070a3i78xtdx4hy8gon8ltz7'})
                        
                    .pipe(
                        // Once the request has finished dispatch an action with the results of the request
                        map((res:any) => 
                            this.$store.dispatch('finishedSearch', res.response.games)),
                        
                        // TODO: Will create some UI feedback for the user
                        // catchError((error:any) => console.log('error: ', error))
                    ),
                )
            )

            return {
                search$
            }
        },
        methods: {
            initSearch() {
               
            }
        }
    })

</script>