.v-card {
    height: 100%;
}

.v-card__title {
    text-align: left;
}

.v-card__actions {
    bottom: 0;
}

.recent-searches {
    list-style: none;
    text-align: left;
    padding-left: 0;
    font-size: 0.75rem;

    &__item {
        display:inline-block;

        & + & {
            margin-right: 0.3rem;
        }
    }
}