<template>
   <div>
      <v-btn to="/" color="pink darken-2" dark small>
        <v-icon dark left>arrow_back</v-icon>back
      </v-btn>
    <v-container grid-list-md text-xs-center>
      <div v-for="game in gameData">
            <v-layout row wrap>
              <v-flex xs12>
                  <h1>{{game.name}} streams</h1>
              </v-flex>
          </v-layout>
      </div>
     </v-container>

   <v-container grid-list-md>
  

  
    <v-layout row wrap>

          <div v-if="!streams.length">
            no streams component to be added
          </div>

            <v-flex xs12 sm3  v-for="stream in streams" v-bind:key="stream.game_id">
                <app-stream v-bind:liveStream="stream"></app-stream>
            </v-flex>
        </v-layout>
   </v-container>

   </div>
  
</template>

<style lang="scss" scoped>
    @import 'Game.scss';
</style>


<script lang="ts">
import Vue from 'vue';
import { Observable, interval, Subject, of } from 'rxjs';
import { ajax } from "rxjs/ajax";
import { switchMap, map, takeWhile, mapTo } from 'rxjs/operators';

  import Stream1 from '../stream/stream.vue';

const VueApp: any = Vue;

export default VueApp.extend({
  components: {
    appStream: Stream1
  },
  data(){
    return {
      gameData: {},
      streams:{}
    }
  },
 beforeCreate(){

   this.$store.dispatch('storeSearch', {
     name: this.$route.params.title,
     id: this.$route.params.id
   })
 },
  subscriptions() {
      const getGame$ = ajax.get('https://api.twitch.tv/helix/games?id=' 
        + encodeURI(
          this.$route.params.id), 
          {'Client-ID': 'zm9y00070a3i78xtdx4hy8gon8ltz7'}
        )
        .pipe(
          map(res => this.gameData = res.response.data),
          // TODO: Will create some UI feedback for the user
          // catchError((error:any) => console.log('error: ', error))
        )

        const getStreams$ = ajax.get('https://api.twitch.tv/kraken/streams/?game=' 
        + encodeURI(
          this.$route.params.title), 
          {'Client-ID': 'zm9y00070a3i78xtdx4hy8gon8ltz7'}
        )
        .pipe(
          map(res => this.streams = res.response.streams),
          // TODO: Will create some UI feedback for the user
          // catchError((error:any) => console.log('error: ', error))
        )

      return {
        getGame$,
        getStreams$
      }      
  }
})
</script>
