<template>
  <v-footer
    dark
    height="auto"
    fixed
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="teal">
        <strong class="subheading">&copy; 2018</strong>

        <v-spacer></v-spacer>
      </v-card-title>
    </v-card>
  </v-footer>
</template>