<template>
    <v-card>
        
                    <v-img
                    :src="`${liveStream.preview.large}`"
                    alt=""
                    aspect-ratio="2"
                    
                    ></v-img>

                    <v-card-title primary-title>
                       <div>
                            <h3 class="headline mb-0">{{liveStream.channel.status}}</h3>
                            <span class="grey--text">People watching: {{liveStream.viewers}}</span>
                        </div>
                    </v-card-title>

                    <v-card-actions>
                        <v-btn flat color="orange" :href="`${liveStream.channel.url}`">
                          View liveStream
                        </v-btn>
                    </v-card-actions>
                  
                   
                </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props:{
        liveStream: Object
    },
})
</script>
