<template>
    <v-btn
        @click="$vuetify.goTo(0)"
            fixed
            dark
            fab
            bottom
            right
            color="pink"
        >
        <v-icon>expand_less</v-icon>
    </v-btn>
</template>
