<template>
  <div id="app" v-scroll="onScroll" > 
       
    <app-header></app-header>
    
    <transition name="component-fade" mode="out-in">
      <router-view></router-view>
    </transition>
    <app-scroll-top v-if="offsetTop > 200"></app-scroll-top>
    <app-footer></app-footer>
   
  </div>
</template>

<style lang="scss">
  body {
    font-family: "Roboto"
  }

  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to {
    opacity: 0;
  }
</style>


<script lang="ts">
  import Vue from 'vue';
  import Header from './features/header/header.vue';
  import Footer from './features/footer/footer.vue';
  import ScrollTop from './features/scrollTop/scrollTop.vue';

  export default Vue.extend({
    components: {
      appHeader: Header,
      appFooter: Footer,
      appScrollTop: ScrollTop,
  
    },
     data: () => ({
      offsetTop: 0
    }),
    methods: {
      onScroll (e:any) {
        this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      }
    }
  });
</script>

